@charset "UTF-8";

body {
    background-color: rgb(137, 136, 136);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(49, 6, 88);
}

h1#principal {
    color: black;
    background-color: blueviolet;
    text-align: center;
}

h2 {
    color: rgb(66, 53, 78);
}
